<div class="footer" id="about"> 
    <footer>
      <div class="footer-content">
        <h3>About Us</h3>
        <p>A project for Blood Donation where a person or an organisation can signup for donating blood and the recipient can easily contact and request for blood</p>
    </div>
    <div class="footer-bottom">
      <p>copyright &copy;2021 <a href="#"></a>  </p>
   </div>
   <div class="footer-menu">
    <ul class="f-menu">
       <li><a href="/home">Home</a></li>
       <li><a href="#about">About</a></li>
       <li><a href="/login">Login</a></li>
       <li><a href="/register">Register</a></li>
    </ul>
   </div>
   

    </footer>
  </div>   